{% extends 'details.html' %}
{% load static %}

{% block Title %}
  {{title}}
{% endblock %}



{% block Breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/posts/display/">News</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
    </ol>
  </nav>
{% endblock %}


{% block Content %}

<!-- Start single blog -->
<div class="col-md-8 col-sm-8 col-xs-12">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <!-- single-blog start -->
      <article class="blog-post-wrapper">
        <div class="post-information">
          <h2>Thanks for your comment</h2>
        </div>
        <form action="/posts/display/{{post_type}}/{{slug}}">
            <input type="submit" value="Return" />
        </form>
      </article>
      <div class="clear"></div>


      <!-- single-blog end -->
    </div>
  </div>
</div>
  <!-- End Blog Area -->
  <style>

      .breadcrumb {
        position: relative;
        width: 1500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: 0px;

      }
  </style>
  

{% endblock %}
