{% extends 'base.html' %}
{% load static %}

{% block Title %}
  About
{% endblock %}

{% block Content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

  <!-- Faq area start -->
  <div class="contents">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Company</h2>
          </div>
        </div>
      </div>
      <div class="row">

        <div >
          <div class="tab-menu">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                <a href="#p-view-1" role="tab" data-toggle="tab">About Us</a>
              </li>
              <li>
                <a href="#p-view-2" role="tab" data-toggle="tab">Vision</a>
              </li>
              <li>
                <a href="#p-view-3" role="tab" data-toggle="tab">Mission</a>
              </li>
              <li>
                <a href="#p-view-4" role="tab" data-toggle="tab">Values</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="p-view-1">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum luctus tortor, sit amet tempus urna eleifend id. Sed sit amet gravida massa. Pellentesque nisl tortor, placerat eget lacus non, fermentum egestas ligula. Pellentesque odio turpis, congue sed lacus quis, accumsan volutpat neque. Praesent pretium venenatis euismod. Morbi justo purus, consequat vitae eleifend et, laoreet viverra sapien. Aliquam erat volutpat. Mauris volutpat vitae tellus et suscipit. Sed enim orci, euismod a mauris vel, accumsan lobortis elit. Donec pretium elit velit, eget commodo erat eleifend non. Aenean ut ornare augue. Suspendisse at magna finibus, pulvinar turpis et, semper purus. Nunc facilisis congue eros, in sodales tellus faucibus sed. Maecenas eu condimentum risus.
                    <br><br>
                    Duis nec leo nunc. Vestibulum quis lorem tellus. Phasellus volutpat gravida dignissim. Proin aliquet tempor ex vel convallis. Morbi vitae semper nunc, nec blandit erat. Ut eu mattis ipsum, quis placerat sem. Suspendisse vel elit egestas, ornare justo accumsan, mollis ante. Suspendisse potenti. Sed interdum auctor maximus. Pellentesque fermentum condimentum est, vitae dictum mi eleifend sit amet. Etiam consequat sed elit a commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum vel convallis turpis.
                    <br><br>
                    Nullam eu enim sem. Ut est justo, egestas id purus vitae, vestibulum vulputate ante. Fusce ipsum massa, euismod eu felis quis, blandit dignissim dui. Maecenas volutpat lorem quis fringilla aliquam. Fusce posuere fermentum ipsum at ultrices. Sed pellentesque pretium neque, vel maximus est tristique rutrum. Nam dui ligula, convallis a lectus eu, hendrerit pretium nisl. Aenean eget diam diam. Morbi sed ante molestie, dapibus tellus eget, ultricies arcu. Sed sit amet dolor magna. Cras non vehicula magna. Duis posuere eros magna, sed tincidunt risus congue eget.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-2">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <p>
                    Pellentesque quam lectus, maximus sed felis eu, sodales tincidunt augue. Aenean rutrum justo vulputate, sodales erat sed, pulvinar neque. Suspendisse tempor posuere quam at hendrerit. Sed mauris nulla, dictum ut convallis vestibulum, cursus a felis. Cras elit ante, ultrices quis congue vel, dapibus vel tellus. Donec tincidunt placerat nunc, vitae elementum felis venenatis eget. Aliquam quam lorem, imperdiet eget ultricies eget, aliquet eget enim. Praesent non mauris nec massa fermentum dapibus in a nisl. Aliquam pulvinar vitae justo sit amet lacinia. Duis congue neque et cursus bibendum. Nam molestie, arcu id aliquet dictum, magna quam feugiat dui, a luctus justo neque eu dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    <br><br>
                    Donec quis nisi id dolor venenatis semper. Sed mattis id ipsum id molestie. Phasellus dignissim ornare ligula, et auctor justo sollicitudin id. Vestibulum dictum quam sed ex congue finibus. Suspendisse eget lacus eros. Sed quis lobortis erat. Phasellus vulputate massa vitae nisl suscipit, sit amet dictum neque tristique. Sed tincidunt ligula quis felis accumsan, in pharetra erat gravida. Nulla varius tortor at quam venenatis, ut fringilla purus euismod. Mauris a nisl sed purus maximus blandit. Phasellus blandit mauris non libero elementum, vel accumsan lectus cursus. Nam luctus efficitur diam, et scelerisque tellus pulvinar at. Pellentesque varius velit at ex maximus dignissim. In dui enim, tempus quis ex id, dignissim feugiat tortor. Morbi luctus mattis turpis vel pretium.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-3">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <p>
                    Proin condimentum leo sit amet semper sagittis. Suspendisse laoreet iaculis risus eget semper. Sed sed semper tellus, vitae ultricies mauris. Nulla ultricies sapien non enim dignissim viverra. Sed tellus risus, laoreet quis fringilla ac, posuere in lectus. Sed porttitor mollis ex in tincidunt. Suspendisse facilisis velit orci, vitae egestas nisi viverra a.
                    <br><br>
                    Donec congue diam vel purus bibendum, sed luctus ex pretium. Duis tempus neque elit, sed condimentum est elementum a. Nunc eros justo, pretium in elit suscipit, ultricies mattis nulla. Proin sed rhoncus nulla. Maecenas a augue eget tortor pretium eleifend. Quisque malesuada dolor sem, vel euismod nulla tincidunt non. Pellentesque id ultrices purus, vitae eleifend nisl.
                    <br><br>
                    Sed bibendum ante non sapien pretium, non viverra tellus maximus. Phasellus sagittis suscipit erat, nec ultrices ipsum rutrum sed. In ornare arcu in finibus tincidunt. Duis viverra, nisi et dictum tempus, magna eros egestas enim, ut fermentum eros velit at magna. Vestibulum eros ante, tempus commodo tellus sed, facilisis viverra enim. Nunc augue ante, luctus id faucibus eu, pulvinar at velit. Fusce nibh mauris, fringilla vitae lacus quis, dapibus mollis arcu. Aenean bibendum ornare nulla vel malesuada. Vivamus et diam vel ante ullamcorper euismod. Proin mi tellus, tempor quis libero ut, ultrices volutpat massa.
                  </p>

                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-4">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <div class="together">
                    <div class="media-part">
                      <img src="{% static 'img/filler.jpg' %}">
                  </div>
                    <div class="text-part">
                      <p>Our team is here to <em>accomplish</em> utmost <em>customer satisfaction</em> with <em>teamwork</em> and <em>quality </em>by regarding a sense of <em>urgency</em>. Thus, our values can be best expressed as follows;</p>
                      <ul>
                        <li>Customer satisfaction</li>
                        <li>Teamwork</li>
                        <li>Accomplishment</li>
                        <li>Quality</li>
                        <li>Urgency</li>
                      </ul>
                      <br>
                      <p>At Corena Pharmaceutical Wholesaler, values that we uphold go beyond a mere presentation of the words; our values describe how we do business.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Row -->
    </div>
  </div>
  <form action="/pdf/sample.pdf">">
    <input class="btn" type="submit" value="Download our Brochure" />
  </form>
  <!-- End Faq Area -->

  <style>
    li {
      font-size: 14px;
      margin-left: 10px;
      list-style-type: circle;
    }
    .together{
      height: 380px;
    }
    .text-part{
      position: absolute;
      width: 570px;
      height: 300px;
      top: 380px;
      margin-left: 680px;
      margin-bottom: 0px;
    }
    .media-part{
      position: relative;
      width: 600px;
      height: 450px;
      top: 10px;
      margin-left: 40px;
      margin-right: 100px;
      margin-bottom: 0px;
    }
    .contents{
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .breadcrumb {
      position: relative;
      width: 1400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      margin-bottom: 0px;
    }
    /* Style buttons */
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
      margin-left: 310px;
      margin-bottom: 60px;
      margin-top: 10px;
    }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
  </style>
{% endblock %}