{% extends 'base.html' %}
{% load static %}

{% block Title %}
    Overview
{% endblock %}

{% block Content %}
    <br><br><br><br><br><br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Overview</li>
        </ol>
    </nav>
    <div class="title">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
                <h2> Overview </h2>
            </div>
        </div>
    </div>
    <div class="together">
        <div class="text-part">
        <p>
            Mosaic Health Company is a pharmaceutical wholesaler and counseling operating with 35 years of experience and has taken its place in the Turkish pharmaceutical 
            sector with the supply of medicines used in the treatment of rare diseases. The company is founded in 2020 with the intention of extending its operation to a global 
            scale. Mosaic Health Company, which cooperates with the world's leading companies, strives to ensure that its goods and services are provided to patients in an 
            effortless, effective, and timely manner within the context of ethical and scientific principles.
        </p>
        <p>
            Headquartered in the capital of Turkey, Ankara, we currently supply medicines that are not approved in Turkey to fulfill the medical needs of patients in compliance 
            with the requirements of the Ministry of Health. Mosaic Health Company supplies a wide and expanding range of branded and generic alternatives medicines and enables 
            the company to approach various communities as possible, who are deteriorating from the lack of decent treatment. In other words, we eagerly contribute to the 
            developments in the standard of wellbeing in society.
        </p>
            
        </div>
        <div class="media-part">
            <img src="{% static 'img/filler.jpg' %}">
        </div>
    </div>

    <style>
        .title{
            margin-top:  40px;
            margin-bottom: 50px;
        }
        .together{
            margin-top:  20px;
            margin-bottom: 400px;
            margin-left: 100px;
            margin-right: 1000px;
            font-size: 20px;
            font-family:Verdana, Geneva, Tahoma, sans-serif ;     
            text-align: justify;
            text-justify: inter-word;       
        }
        .media-part{
            position: absolute;
            width: 600px;
            height: 400px;
            top: 310px;
            margin-bottom: 400px;
            margin-left: 900px;
            margin-right: 100px
        }
        .breadcrumb {
            position: relative;
            width: 1700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
{% endblock %}


