{% extends 'base.html' %}
{% load static %}

{% block Title %}
  About
{% endblock %}

{% block Content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>

  <!-- Faq area start -->
  <div class="contents">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Company</h2>
          </div>
        </div>
      </div>
      <div class="row">

        <div >
          <div class="tab-menu">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                <a href="#p-view-1" role="tab" data-toggle="tab">About Us</a>
              </li>
              <li>
                <a href="#p-view-2" role="tab" data-toggle="tab">Vision</a>
              </li>
              <li>
                <a href="#p-view-3" role="tab" data-toggle="tab">Mission</a>
              </li>
              <li>
                <a href="#p-view-4" role="tab" data-toggle="tab">Values</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="p-view-1">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <div class="together">
                    <div class="media-part">
                      <img src="{% static 'img/about.jpg' %}">
                    </div>
                    <div class="text-part">
                      <p>
                        Mosaic Health Company is a pharmaceutical wholesaler and counseling operating with 35 years of experience and has taken its place in the Turkish 
                        pharmaceutical sector with the supply of medicines used in the treatment of rare diseases. The company is founded in 2020 with the intention of 
                        extending its operation to a global scale. Mosaic Health Company, which cooperates with the world's leading companies, strives to ensure that its 
                        goods and services are provided to patients in an effortless, effective, and timely manner within the context of ethical and scientific principles.
                      </p>
                      <p>
                        Headquartered in the capital of Turkey, Ankara, we currently supply medicines that are not approved in Turkey to fulfill the medical needs of patients 
                        in compliance with the requirements of the Ministry of Health. Mosaic Health Company supplies a wide and expanding range of branded and generic alternatives 
                        medicines and enables the company to approach various communities as possible, who are deteriorating from the lack of decent treatment. In other words, we eagerly 
                        contribute to the developments in the standard of wellbeing in society.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-2">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <div class="together">
                    <div class="media-part">
                      <img src="{% static 'img/vision.jpg' %}">
                    </div>
                    <div class="text-part">
                      <p>
                        Mosaic Health Company deeply believes that every participant in the healthcare market (patients, healthcare institutions, NGOs, etc.) around the world 
                        needs high-quality and affordable medicines.
                      </p>
                      <p>
                        Together with its clients, partners, and employees, Mosaic Health Company puts the belief that affordable medicines should be readily available to all 
                        healthcare providers around the globe, regardless of country or origin.
                      </p>
                      <p>
                        Our fundamental belief in driving our business is therefore simple: medical products at affordable prices must be within the scope of every health care 
                        stakeholder in every corner of the world.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-3">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <div class="together">
                    <div class="media-part">
                      <img src="{% static 'img/mission.jpg' %}">
                    </div>
                    <div class="text-part">
                      <p>
                        Centered on our conviction that healthcare market participants around the world need proper drugs at reasonable rates, Mosaic Health Company is engaged 
                        in wholesale and counseling of healthcare products and pharmaceuticals.
                      </p>
                      <p>
                        Our approach to medicinal and health products enables Mosaic Health Company to administer these products at economical prices to our customers from all 
                        over the world. Essentially, Mosaic Health Pharmaceuticals and Counseling aim to provide services in all kinds of regulatory, price, and reimbursement of 
                        cosmetic, medical device, and food reinforcing products as well as human medicinal products. Moreover, providing professional counseling services from the 
                        preparation stage of the registration files to the registration stage of the license files, making the applications of the drug registration application files 
                        in the CTD format required by the Ministry of Health in accordance with the legislation, making applications at the ministry, following up with the ministry to
                         solve technical problems.
                      </p>
                      <p>
                        Our growing line of business encompasses but not limited to those areas;
                      </p>
                      <ul>
                        <li>Meet the needs of public and private hospitals around the world </li>
                        <li>Provision of orphan drugs </li>
                        <li>Participation in health projects (procurement of medical devices and products) </li>
                        <li>Offering services to NGOs and humanitarian organizations </li>
                        <li>Sourcing of comparator drugs and supply for clinical trials</li>
                      </ul>
                      <p>Mosaic Health Company has since made an active contribution to satisfying the market for pharmaceutical and healthcare products at moderate international prices.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="tab-pane" id="p-view-4">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <br>
                  <div class="together">
                    <div class="media-part">
                      <img src="{% static 'img/values.jpg' %}">
                    </div>
                    <div class="text-part">
                      <p>
                        Our team is here to reach the ultimate customer loyalty with coordination and consistency with a sense of urgency. Our values, therefore, 
                        can be better expressed as follows; 
                      </p>
                      <ul>
                        <li>
                          Achievement 
                        </li>
                        <li>
                          Satisfaction of customers 
                        </li>
                        <li>
                          Teamwork 
                        </li>
                        <li>
                          Quality Assurance 
                        </li>
                        <li>
                          Urgency 
                        </li>
                      </ul>
                      <br>
                      <p>
                        The principles we uphold at Mosaic Health Company go beyond the simple presentation of words; our values explain how we maintain our business.
                      </p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Row -->
    </div>
  </div>
  <form action="/pdf/sample.pdf">">
    <input class="btn" type="submit" value="Download our Brochure" />
  </form>
  <!-- End Faq Area -->

  <style>
    .text-part li{
      list-style-type: circle;
      margin-left: 15px;
      font-size: 14px;
    }
    .tab-content{
      width: 1300px;
      height: 600px;
    }
    .together{
      height: 380px;
      text-align: justify;
      text-justify: inter-word; 
    }
    .text-part{
      position: absolute;
      width: 570px;
      top: 400px;
      margin-left: 680px;
      margin-bottom: 0px;
    }
    .media-part{
      position: relative;
      width: 640px;
      height: 550px;
      top: 70px;
      margin-left: 10px;
      margin-right: 100px;
      margin-bottom: 0px;
    }
    .contents{
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .breadcrumb {
      position: relative;
      width: 1400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 120px;
      margin-bottom: 0px;
    }
    /* Style buttons */
    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
      margin-left: 310px;
      margin-bottom: 60px;
      margin-top: 10px;
    }

    /* Darker background on mouse-over */
    .btn:hover {
      background-color: RoyalBlue;
    }
  </style>
{% endblock %}