{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block Title %}Details{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/nivo-slider/css/nivo-slider.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.transitions.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">

  <!-- Nivo Slider Theme -->
  <link href="{% static 'css/nivo-slider-theme.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Responsive Stylesheet File -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eBusiness
    Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <style>
    .dropdown-submenu {
      position: relative;
    }
    
    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 101%;
      margin-top: -1px;
    }
  </style>
  
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                  <h1><span>e</span>Business</h1>
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <img src="{% static 'img/logo.png' %}" alt="" title=""> -->
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="">
                    <a class="page-scroll" href="{% if request.path == '/' %} #home {% else %} / {%endif%}">Home</a>
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Company<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href= "/about" >About Us</a></li>
                      <li><a href= "/overview" >Overview</a></li>
                      <li><a href= "/team" >Our Team</a></li>
                    </ul> 
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="#">International Sales<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a tabindex="-1" href="/services">Service 1</a></li>
                          <li><a tabindex="-1" href="#">Article 2</a></li>
                        </ul>
                      </li>
                    </ul> 
                  </li>
                  <li >
                    <a class="page-scroll" href="/quality-assurance">Quality Assurance</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/posts/display/Article/all">Articles</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/posts/display/News/all">News</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="/contact">Contact</a>
                  </li>
                  {% if user.is_superuser %}
                    <li>
                      <a class="page-scroll" href="/posts/create">Create</a>
                    </li>
                  {% endif %}
                  <li class="searchbar">
                    <form action="/search/" method='GET'>
                        <input type="text" name="search" placeholder="Search..">
                        <button class="button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->
  <br><br><br>
  <br><br><br>
  
  {% block Breadcrumbs %}

  {% endblock %}

    <div class="blog-page area-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="page-head-blog">
              <div class="single-blog-page">
                <!-- search option start -->
                {% block Search %}

                {% endblock %}
                <!-- search option end -->
              </div>
              <div class="single-blog-page">
                <!-- recent start -->
                <div class="left-blog">
                  <h4>recent posts</h4>
                  <div class="recent-post">
                    {% for post in recents_list %}
                      <div class="recent-single-post">
                        <div class="post-img">
                          <a href="/posts/display/{{post.post_type}}/{{post.slug}}">
                              <img src="{{post.thumbnail.url}}" alt="">
                            </a>
                        </div>
                        <div class="pst-content">
                          <p><a href="/posts/display/{{post.post_type}}/{{post.slug}}"> {{post.description}}</a></p>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- recent end -->
              </div>
              <div class="single-blog-page">
                <div class="left-blog">
                  <h4>archive</h4>
                  <ul>
                    {% for each in dates %}
                    <li>
                      <a href="/posts/display/date/{{post_type}}/{{each|stringformat:"s"}}">{{each |date:"d M Y"}}</a>
                    </li>
                    {% endfor %}
  
                  </ul>
                </div>
              </div>
              <div class="single-blog-page">
                <div class="left-tags blog-tags">
                  <div class="popular-tag left-side-tags left-blog">
                    <h4>popular tags</h4>
                    <ul>
                      {% for each in max_tags %}
                      <li>
                        <a href="/search/?search={{each}}">{{each}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End left sidebar -->
   
          {% block Content%}
          {% endblock %}
  
        </div>
      </div>
    </div>
    <!-- End Blog Area -->

    <!-- Start Footer bottom Area -->
    <footer>
        <div class="footer-area">
        <div class="container">
            <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer-content">
                <div class="footer-head">
                    <div class="footer-logo">
                    <h2><span>e</span>Business</h2>
                    </div>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                    <br>
                    <a href="https://www.linkedin.com/company/mosaic-health-company/about/">
                      <i class="fa fa-linkedin" style="font-size:45px;"></i>
                    </a>
                  </div>
                </div>
            </div>
            <!-- end single footer -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer-content">
                <div class="footer-head">
                    <h4>Contact Us</h4>
                    <p>
                    Reach us for more information.
                    </p>
                    <div class="footer-contacts">
                    <p><span>Tel:</span> +123 456 789</p>
                    <p><span>Email:</span> contact@example.com</p>
                    <p><span>Working Hours:</span> 9am-5pm</p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12" >
              <div class="footer-content">
                <div class="footer-head text-center" >
                  <h4>Location</h4>
                  <img class="details-image" src="{% static 'img/map-loc.jpg' %}" alt="">
                </div>
              </div>
          </div>

            </div>
        </div>
        </div>
        <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="copyright text-center">
                <p>
                    &copy; Copyright <strong>eBusiness</strong>. All Rights Reserved
                </p>
                </div>
                <div class="credits">
                <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'lib/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/parallax/parallax.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/nivo-slider/js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/appear/jquery.appear.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>

    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
        $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
        });
        });
    </script>
    <style>
        .blog-pagination{
          padding-left: 330px;
        }
        .pagination {
          display: inline-block;
        }

        .pagination a {
          color: black;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
        }

        .pagination a.active {
          background-color: #4CAF50;
          color: white;
        }

        .pagination a:hover:not(.active) {
          background-color: #ddd;
        }

        .article-image{
          position: relative;
          top: 70px;
          width: 100%;
          height: 600px;
        }
        .breadcrumb {
          position: relative;
          width: 1400px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        .header-area {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 75px;
          background: rgba(0, 0, 0, 1);
          z-index: 9;
        }
        .searchbar{
          position: relative;
          top: 22px;
        }
        header input[type=text] {
          width: 150px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
        }
        /* When the input field gets focus, change its width to 100% */
        header input[type=text]:focus {
          width: 180px;
        }
        .headertitle{
          margin-top: 20px;
        }
        .container {
          width: 1300px;
        }
    </style>

</body>

</html>