{% extends 'base.html' %}
{% load static %}

{% block Title %}
Home
{% endblock %}

{% block Content %}
  

  <!-- Start Slider Area -->

  <div id=home class="myCarousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for slide in sliders %}
          {% if forloop.counter == 1 %}
            <div class="item active">
              <div class="carousel-caption">
                <h5>
                  <a href="{{slide.site_url}}"><strong style="color:{{slide.color}};">{{slide.title1}}</strong></a>
                </h5>
                <h3 style="color:{{slide.color}};">{{slide.description}}</h3>
                <span>
                  <a href="{{slide.site_url}}" class="ready-btn">Read more</a>
                </span>
            </div>
              <img src="{{slide.picture.url}}" style="width:100%;">
            </div>
          {% else %}
            <div class="item">
              <div class="carousel-caption">
                <h5>
                  <a href="{{slide.site_url}}"><strong>{{slide.title1}}</strong></a>
                </h5>
                <h3>{{slide.description}}</h3>
                <span>
                  <a href="{{slide.site_url}}" class="ready-btn">Read more</a>
                </span>
              </div>
              <img src="{{slide.picture.url}}"  style="width:100%;">
            </div>
          {% endif %}

        {% endfor %}
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!-- End Slider Area -->



  <!-- Start Quality area -->
  <div id="quality-assurance" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Quality Assurance</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/documents.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>Standard Operating Procedures</h4>
                  <p>
                    All operations shall be focused on validated and accredited procedures.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/presentation.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>Personnel Training</h4>
                  <br>
                  <p>
                    Personal training is viewed as a central aspect of continuous development.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/cargo.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>Good Distribution Practices</h4>
                  <p>
                    The entire operation of the warehouse is in complete accordance with existing European Good Distribution Practices (GDP).
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/screen.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>Customer Management Software Tool </h4>
                  <p>
                    An ERP tool, Logo Netsis, is used between the departments of the company, aims precision and effective process over all business units.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/temperature.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>Cold Storage Room (2-8°C)</h4>
                  <p>
                    With the presence of a chilled storage for preservation (2-8°C) and an ambient storage area, the goods are managed efficiently according to their characteristics.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-3 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/security.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>24 Hour-Monitoring and Recording System  </h4>
                  <p>
                    The temperature and humidity levels of all units in the warehouse (reception, quarantine and storage) are monitored by a 24-hour monitoring and recording system.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/world.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>New Packaging and Operational Solutions   </h4>
                  <p>
                    Each shipping is arranged in a specific way and in compliance with the order specifications and consumer requirements.                
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <div>
                    <img src="{% static 'img/icons/transportation.png' %}" width="40" height="40">
                  </div>
                  <br>
                  <h4>Lot/Batch Traceability Framework   </h4>
                  <p>
                    Mosaic Health Company's domestic and international vendors are reputable and approved by the appropriate regulatory authorities.                  
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End Quality area -->

  <!-- Start Services area -->
  <div class=services>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-3 col-sm-4 col-xs-16">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a href="/posts/display/{{post.post_type}}/{{post.slug}}">
                  <img src="{% static 'img/clinical_trial.jpg' %}" alt="">
                </a>
                <br><br>
                <h4>Clinical Trial Supply</h4>
                <p>
                  The lack of supply or delay of comparator drugs in the desired quantities and quality could affect the effectiveness of clinical trials or, worse yet,
                   could place the safety of patients at risk.
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-16">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a href="/posts/display/{{post.post_type}}/{{post.slug}}">
                  <img src="{% static 'img/humanitarian_projects.jpg' %}" alt="">
                </a>
                <br><br>
                <h4>Humanitarian Aid Projects</h4>
                <p>
                  Serving humanitarian organizations and supporting them with their local and international health assistance programs is one of our top priorities.  
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-16">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a href="/posts/display/{{post.post_type}}/{{post.slug}}">
                  <img src="{% static 'img/medical_supplies.jpg' %}" alt="">
                </a>
                <br><br>
                <h4>Medical Supplies</h4>
                <p>
                  Considered to be as low-cost, disposable and non-durable products and, in particular, medical supplies are important materials for the treatment of diseases 
                  and/or injuries. 
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-16">
          <div class="about-move">
            <div class="services-details">
              <div class="single-services">
                <a href="/posts/display/{{post.post_type}}/{{post.slug}}">
                  <img src="{% static 'img/orphan_drugs.jpg' %}" alt="">
                </a>
                <br><br>
                <h4>Orphan Drugs</h4>
                <p>
                  The commonly named 'orphan drugs' are designed to cure illnesses so rare that sponsors are hesitant to produce them under conventional marketing conditions. 
                </p>
              </div>
            </div>
            <!-- end about-details -->
          </div>
        </div>

      </div>
  
    </div>
  </div>

  <!-- End Services area -->
  <div class=details>
    <div class="container-fluid">
      <div id="details-row" class="row text-center">
        <div class="col-md-6">
          <a href="#">
						<img class="details-image" src="{% static 'img/about/2.jpg' %}" alt="">
					</a>
        </div>
        <div id="details-text" class="col-md-6">
          <h2> MORE DETAILS</h2>
          <h5> FOR YOUR EVERY NEED WE ARE WORKING HARD AND STRONG</h5>
        </div>

      </div>

    </div>
  </div>





  <!-- Start Blog Area -->
  <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
      <div class="blog-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2 id=news>Latest News</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          {% for post in latest_news %}

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="/posts/display/{{post.post_type}}/{{post.slug}}">
                  <img src="{{post.thumbnail.url}}" alt="">
                </a>
              </div>
              <div class="blog-meta">
                <span class="date-type">
                    <i class="fa fa-calendar"></i>{{ post.date_as_day}}
                  </span>
              </div>
              <div class="blog-text">
                <h4>
                    <a href="/posts/display/{{post.post_type}}/{{post.slug}}">{{post.title}}</a>
                </h4>
                <p>
                  {{post.description}}
                </p>
              </div>
              <span>
                <a href="/posts/display/{{post.post_type}}/{{post.slug}}" class="ready-btn">Read more</a>
              </span>
              <br>
              <br>
            </div>

          </div>
            
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog -->

  <style>
    #details-row{
      background-color: rgb(59, 51, 51);
    }
    #details-text{
      margin-top: 150px;
    }
    #details-text h2,h5{
      color: rgb(182, 177, 177);
    }

    #home{
      margin-bottom: 650px;
    }

    .details{
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 50px;

    }
    post-text{
      position: relative;
      width: 250px;
      margin-left: 50px;
      margin-right: 20px;

    }
    .post-img{
      position: relative;
      width: 250px;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .services{
      width: 1400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .myCarousel{
      position: relative;
      top: auto;
      margin-bottom: 100px;
      left: 0;
      width: 100%;
      height: 250px;
      background: rgba(0, 0, 0, 1);
      z-index: 2;
    }
    .carousel-caption{
      position: absolute;
      top: 70px;
      width: 100%;
      color: white;
      z-index: 3;
      left: 0%;
    }

    .carousel-caption h5 a{
      position: relative;
      top: 300px;
      font-family: sans-serif;
      font-size: 50px;
      width: 100%;
      color:rgb(117, 89, 89);
      z-index: 9;
      left: 0px;
    }

    .carousel-caption h3{
      position: relative;

      top: 350px;
      font-family: sans-serif;
      font-style: italic;
      font-size: 30px;
      width: 70%;
      color:rgb(117, 89, 89);
      z-index: 9;
      left: 300px;
    }

    .carousel-caption span{
      position: relative;
      top: 400px;
      font-family: sans-serif;
      font-size: 50px;
      width: 100%;
      z-index: 9;
      left: 0px;
    }
  </style>

  {% endblock %}