{% extends 'base.html' %} 
{% load static %} 
{% block Title %} Privacy {%endblock %} 
{% block Content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Privacy Policy</h1>
  </div>
</div>

<div class="breadcrumbs">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Privacy</li>
    </ol>
  </nav>
</div>

<div class="text_container">
  <h3>Privacy Policy</h3>
  <br>
  <p>
    This protection strategy has been aggregated to more readily serve the individuals who are worried about how their ' Personally Identifiable Information (PII) 
    is being utilized on the web. PII, as portrayed in US protection law and data security, is data that can be utilized all alone or with other data to distinguish, 
    contact, or find a single person, or to recognize a person in setting. Kindly read our security strategy carefully to get a clear understanding of how we collect, 
    use, ensure or in any case handles your Personally Identifiable Information as for our site.
  </p> <br>
  <h5> <strong>What individual data do we gather from individuals that visit our blog, site or application?</strong> </h5>
  <p>
    When requesting or enrolling on our site, as fitting, you might be approached to enter your name, email address, postage information, telephone number or different
    details to assist you with your experience.
  </p>  <br>
  <h5> <strong>When do we gather data?</strong> </h5>
  <p>
    You might be approached to enter your name, email address, phone number or different details to assist you with your experience.
  </p> <br> 
  <h5> <strong>How would we utilize your data? </strong> </h5>
  <ul>
    <li>
      We may utilize the data we gather from you when you register, make a purchase, pursue our pamphlet, respond to a survey or marketing communication,, surf the site, 
      or utilize certain other site highlights in the accompanying manners: 
    </li>
    <li>
      To customize your experience and to permit us to convey the kind of substance and item contributions in which you are generally intrigued. 
    </li>
    <li>
      To improve our site to more readily serve you. 
    </li>
    <li>
      To permit us to more readily support you in reacting to your client care demands. 
    </li>
    <li>
      To send occasional messages with respect to your request or different items and administrations.
    </li>
  </ul> <br>
  <h5> <strong>How would we ensure your data? </strong> </h5>
  <ul>
    <li>
      Our site is filtered consistently for security openings and known weaknesses to make your visit to our site as protected as could be expected. 
    </li>
    <li>
      We utilize normal Malware Checking. 
    </li>
    <li>
      Your own data is contained behind got networks and is just open by a set number of people who have extraordinary access rights to such situation, 
      and are needed to keep the data secret. Moreover, all sensitive/credit data you supply is encoded by means of Secure Socket Layer (SSL) innovation. 
    </li>
    <li>
      We actualize an assortment of safety efforts when a client enters, submits, or gets to their data to keep up the wellbeing of your own data. 
    </li>
    <li>
      All exchanges are handled through our workers and are put away or prepared on our workers.
    </li>
  </ul> <br>
  <h5>
    <strong>
      Do we use 'cookies'? 
    </strong>
  </h5>
  <p>
    No, we do not use any cookies.
  </p> <br>
  <h5>
    <strong>
      Third-party disclosure
    </strong>
  </h5>
  <p>
    We do not sell, exchange, or in any case move to outside gatherings your Personally Identifiable Information.
  </p> <br>
  <h5>
    <strong>
      Third-party links 
    </strong> 
  </h5>
  <p>
    We do not provide or sell goods or services to third parties on our website.
  </p> <br>
  <h5>
    <strong>
      As for CalOPPA, we consent to the accompanying: 
    </strong>
  </h5>
  <p>
    Clients can visit our site anonymously. 
  </p> <br>
  <p>
    When this security strategy is made, we will include a connection to it our home page, on the primary page subsequent to entering our site. 
  </p> <br>
  <p>
    Our Privacy Policy interface incorporates the word ‘Privacy’ and can without much of a stretch is found on the page determined previously. 
  </p> <br>
  <h5>
    <strong>Does our site permit third-party behavioral tracking? </strong>
  </h5>
  <p>
    It's likewise imperative to take note of that we don't permit third-party behavioral tracking 
  </p> <br>
  <h5><strong>To be in accordance with Fair Information Practices we will make the accompanying responsive move, should an information break happen: </strong></h5>
  <p>We will notify you by means of email: 		Within 7 business days </p> <br>
  <p>
    We also consent to the Individual Redress Principle which necessitates that people reserve the privilege to lawfully seek after enforceable rights against 
    information authorities and processors who fail to adhere to the law. This guideline requires not just that people have enforceable rights against information 
    clients, yet in addition that people have plan of action to courts or government organizations to examine as well as arraign non-compliance by information processors.
  </p> <br>
  <h5><strong>CAN SPAM Act </strong></h5>
  <p>
    The CAN-SPAM Act is a law that sets the standards for business email, builds up prerequisites for business messages, gives recipients the option to have messages halted 
    from being sent to them, and explains punishments for infringement. 
  </p> <br>
  <h5><strong>We gather your email address to: </strong></h5>
  <p><strong>To be in accordance with CANSPAM, we agree to the following:</strong></p> 
  <ul>
    <li>
      Not use false or misleading subjects or email addresses.
    </li>
  </ul> <br>
  <p>
    If you would like to unsubscribe from receiving future emails at any time, you can send us an email and we will promptly remove you from ALL correspondence.
  </p> <br>
</div>

<style>
  h1,
  h3 {
    color: rgb(233, 64, 64);
  }
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url({% static "img/orphan_drugs.jpg" %});

    /* Set a specific height */
    height: 30%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 70px;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .breadcrumbs {
    position: relative;
    top: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
  }
  .title {
    margin-top: 40px;
    margin-bottom: 250px;
  }
  .text_container {
    font-size: 20px;
    position: relative;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 400px;
    margin-bottom: 50px;
  }
  .text_container li {
    font-size: 18px;
    margin-left: 50px;
    margin-bottom: 15px;
    list-style-type: circle;
  }
  .icons-part {
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 50px;
  }
  .text-part {
    margin-left: 10px;
    width: 800px;
  }
  .breadcrumb {
    position: relative;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
{% endblock %}
