{% extends 'base.html' %}
{% load static %}

{% block Title %}
    Quality Assurance
{% endblock %}

{% block Content %}
    <br><br><br><br><br><br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quality Assurance</li>
        </ol>
    </nav>
    <div class="title">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
                <h2> Quality Assurance </h2>
            </div>
        </div>
    </div>

    <div class="together">
        <div class=icons-part >
            
            <img src="{% static 'img/icons/documents.png'%}" width="70" height="70">
            
        </div>
        
        <div class="text-part" >
            <h3>
                Standard Operating Procedures
            </h3>
            <p>
                All operations shall be focused on validated and accredited procedures. These processes are reported in detail within the context of the Standard Operating 
                Procedures (SOP) and are carried out in accordance with local legislation.            
            </p>
        </div>
    </div>
    <div class="together">
        <div class=icons-part >
            
            <img src="{% static 'img/icons/presentation.png'%}" width="70" height="600">
            
        </div>
        
        <div class="text-part" >
            <h3>
                Personnel Training
            </h3>
            <p>
                Personal training is viewed as a central aspect of continuous development. In this way, daily preparation is coordinated through all company roles in order 
                to upgrade their current skills.            
            </p>
        </div>
    </div>
    <div class="together">
        <div class=icons-part >
            
            <img src="{% static 'img/icons/cargo.png'%}" width="70" height="600">
            
        </div>
        
        <div class="text-part" >
            <h3>
                Good Distribution Practices            
            </h3>
            <p>
                The entire operation of the warehouse is in complete accordance with existing European Good Distribution Practices (GDP).            
            </p>
        </div>
    </div>
    <div class="together">
        <div class=icons-part >
            
            <img src="{% static 'img/icons/screen.png'%}" width="70" height="600">
            
        </div>
        
        <div class="text-part" >
            <h3>
                Customer Management Software Tool (Logo Netsis)            
            </h3>
            <p>
                An ERP tool, Logo Netsis, is used between the departments of the company, aims precision and effective process over all business units.            
            </p>
        </div>
    </div>
    <div class="together">
        <div class=icons-part >
            
            <img src="{% static 'img/icons/temperature.png'%}" width="70" height="600">
            
        </div>
        
        <div class="text-part" >
            <h3>
                Cold Storage Room (2-8°C)            
            </h3>
            <p>
                With the presence of a chilled storage for preservation (2-8°C) and an ambient storage area, the goods are managed efficiently according to their characteristics.
            </p>
        </div>
    </div>
    <div class="together">
        <div class=icons-part>
            
            <img src="{% static 'img/icons/security.png'%}" width="70" height="600">
            
        </div>
        
        <div class="text-part" >
            <h3>
                24 Hour-Monitoring and Recording System            
            </h3>
            <p>
                The temperature and humidity levels of all units in the warehouse (reception, quarantine and storage) are monitored by a 24-hour monitoring and recording system. 
                In the event of a divergence in such conditions, the designated staff shall be notified immediately for immediate action.            
            </p>
        </div>
    </div>
    <div class="together">
        <div class=icons-part >
            
            <img src="{% static 'img/icons/world.png'%}" width="70" height="600">
            
        </div>
        
        <div class="text-part" >
            <h3>
                New Packaging and Operational Solutions            
            </h3>
            <p>
                Each shipping is arranged in a specific way and in compliance with the order specifications and consumer requirements. In accordance with data loggers, solutions for 
                critically sensitive cold chain medications are given for validated and insulated boxes. Palletization is a different process, based on the amount and need of the shipment.
            </p>
        </div>
    </div>
    <div class="together">
        <div class=icons-part >
            <img src="{% static 'img/icons/transportation.png'%}" width="70" height="600">
        </div>
        
        <div class="text-part" >
            <h3>
                Lot/Batch Traceability Framework            
            </h3>
            <p>
                Mosaic Health Company's domestic and international vendors are reputable and approved by the appropriate regulatory authorities. The Fully Electronic Batch/Lot 
                Traceability System also incorporates the control and authenticity guarantee of each pharmaceutical product prior to its acceptance. This system is achieved through
                 combination of Logo Netsis and Turkish Pharmaceutical Track and Trace System.            
            </p>
        </div>
    </div>
    <style>
        .title{
            margin-top:  40px;
            margin-bottom: 70px;
        }
        .together{
            margin-left: 470px;
            margin-right: 400px;
            margin-bottom: 70px;
            height:auto;
            padding:1%;
        }
        .icons-part{
            margin-top: 3%;
            margin-bottom: 3%;
            margin-right: 70px;
            margin-left:2%;
            float:left; 
        }
        .text-part{
            margin-left: 10px;
            width: auto;
        }

        .breadcrumb {
            position: relative;
            width: 1700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
{% endblock %}
