{% extends 'base.html' %}
{% load static %}

{% block Title %}
    Quality Assurance
{% endblock %}

{% block Content %}
    <br><br><br><br><br><br>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quality Assurance</li>
        </ol>
    </nav>
    <div class="title">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
                <h2> Quality Assurance </h2>
            </div>
        </div>
    </div>

    <div class="together">
        <div>
            <div class=icons-part style="display:inline-block;">
                <span class="fa fa-file" style="font-size:75px;"></span>
            </div>
            
            <div class="text-part" style="display:inline-block;">
                <h3>
                    This is title
                </h3>
                <p>
                    All activities are based on validated and certified processes. These processes are documented in detail within the frame of  Standard Operating Procedures (SOP) and being carried out in compliance with the local regulations.
                </p>
            </div>
        </div>
    </div>
    <div class="together">
        <div>
            <div class=icons-part style="display:inline-block;">
                <span class="fa fa-file" style="font-size:75px;"></span>
            </div>
            
            <div class="text-part" style="display:inline-block;">
                <h3>
                    This is title
                </h3>
                <p>
                    All activities are based on validated and certified processes. These processes are documented in detail within the frame of  Standard Operating Procedures (SOP) and being carried out in compliance with the local regulations.
                </p>

            </div>
        </div>
    </div>
    <div class="together">
        <div>
            <div class=icons-part style="display:inline-block;">
                <span class="fa fa-file" style="font-size:75px;"></span>
            </div>
            
            <div class="text-part" style="display:inline-block;">
                <h3>
                    This is title
                </h3>
                <p>
                    All activities are based on validated and certified processes. These processes are documented in detail within the frame of  Standard Operating Procedures (SOP) and being carried out in compliance with the local regulations.
                </p>

            </div>
        </div>
    </div>


    <style>
        .title{
            margin-top:  40px;
            margin-bottom: 50px;
        }
        .together{
            margin-left: 450px;
            margin-right: 400px;
            margin-bottom: 50px;

        }
        .icons-part{
            position: relative;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 50px
        }
        .text-part{
            margin-left: 10px;
            width: 800px;
        }
        .breadcrumb {
            position: relative;
            width: 1700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    </style>
{% endblock %}
